@font-face {
  font-family: "GangsterGrotesk";
  src: url(./fonts/GangsterGrotesk-Regular.otf);
}

@font-face {
  font-family: "GangsterGrotesk-bold";
  src: url(./fonts/GangsterGrotesk-Bold.otf);
}

@font-face {
  font-family: "GangsterGrotesk-light";
  src: url(./fonts/GangsterGrotesk-Light.otf);
}

#root {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "GangsterGrotesk";
  background-color: #f8f8f8;
  margin: 0;
  color: #15162a;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  overflow: hidden;
}

main {
  flex-grow: 1;
  padding-bottom: 100px;
}
